


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 3rem;
}

.right {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
}

.right .title {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.right .subtitle {
    font-size: 1.6rem;
    color: var(--subtext-color);
    opacity: 0.7;
}

.right span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}