

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 40px 9%;
}

.subtitle {
    color: var(--subtext-color);
    font-size: 1.2rem;
    opacity: .7;
    text-align: center;
}

.container span {
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: center;
}