

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 100px;
    background-color: var(--background-secondary);
    width: 100vw;
    margin-left: -11%;
    padding: 40px 9%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left .icon {
    color: var(--primary-color);
    font-size: 5rem;
}

.title {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.subtitle {
    color: var(--subtext-color);
    font-size: 1.7rem;
    text-align: left;
}

.whatsappButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--background-primary);
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.7rem;
    transition: 0.3s;
    width: fit-content;
}

.whatsappButton:hover {
    background-color: var(--primary-color);
}

.faqList {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 40%;
}

.faqItem {
    background-color: var(--primary-color);
    color: var(--background-primary);
    margin-bottom: 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;
}

.faqQuestion {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
}

.faqQuestion .faIcon {
    font-size: 1rem;
    transition: transform 0.3s;
}

.faqQuestion .faIcon.open {
    transform: rotate(90deg);
}

.faqItem.open .faqQuestion {
    background-color: var(--primary-color);
}

.faqAnswer {
    background-color: var(--background-primary);
    color: var(--subtext-color);
    padding: 0 15px;
    font-size: 1.5rem;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.faqItem.open .faqAnswer {
    max-height: 300px;
    padding: 15px;
}