

.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-left: -13%;
    margin-right: -9%;
}

.bgWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 0;
}

.bgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.left {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 3rem;
    padding-left: 12%;
}

.left .title {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.left .subtitle {
    font-size: 1.6rem;
    color: var(--subtext-color);
}

.left .title span {
    color: var(--primary-color);
}

.right {

}

/* Tablets e celulares grandes */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 0;
        /*gap: 40px;*/
    }

    .left {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 2rem;
    }

    .left .title {
        font-size: 2.4rem;
    }

    .left .subtitle {
        font-size: 1.4rem;
    }

    .right {
        width: 100%;
        max-width: 800px;
        min-height: 800px; /* Força uma altura mínima */
        aspect-ratio: 4 / 5; /* Mantém a proporção */
        overflow: hidden;
    }

    .right img {
        max-width: 100%;
        height: auto;
    }
}