

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 3rem;
    background-color: var(--background-secondary);
    margin-left: -11%;
    padding: 0 9%;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.cardsWrapper {
    display: flex;
    gap: 2rem;
}

.card {
    background: var(--background-secondary);
    padding: 5rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 255, 127, 0.4);
    /*width: 320px;*/
    color: var(--text-color);
    box-shadow: 0 0 15px rgba(0, 255, 127, 0.3);
    display: flex;
    flex-direction: column;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.course {
    font-size: 2rem;
    color: var(--subtext-color-card);
    opacity: 0.3;
    margin-bottom: 10px;
}

.wrapperTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.cardTitle {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.cardTitle span {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.wrapperPriceCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -20px;
}

.wrapperPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.price span {
    font-size: 3rem;
}

.accessType {
    background: var(--background-primary);
    color: var(--primary-color);
    padding: 0.25rem 0.75rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-start;
    border: 1px solid var(--primary-color);
}

.priceAlt {
    font-size: 1.4rem;
    color: var(--subtext-color-card);
}

.wrapperList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.benefits {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
    margin-left: 20px;
}

.benefitsTitle {
    margin-left: 0;
}

.benefits li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.benefits li .icon {
    color: var(--primary-color);
}

.bonus {
    color: var(--primary-color);
    font-weight: bold;
}

.unavailable {
    opacity: 0.5;
    text-decoration: line-through;
}
